
# Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
# Click nbfs://nbhost/SystemFileSystem/Templates/Other/properties.properties to edit this template

#config database (mysql)
###
swing.datasource.url={url_db}
swing.datasource.username={db_name}
swing.datasource.password={db_password}
###